<!-- your html code here -->
<div class="row">
    <hr>
    <div class="col-md-7">
        <h1>The First Heading 
            <span class="text-body-secondary">Will Catch Your Eye</span>
        </h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br> euismod semper. Praesent commodo cursus magna, vel scelerisque nisl<br>
consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <div class="col-md-5">
        <img src="/website/assets/img/1.jpg" class="rounded-circle" width="200" height="200" alt="image">
    </div>

    <hr>
    <div class="col-md-5">
        <img src="/website/assets/img/2.jpg" class="rounded-circle" width="200" height="200" alt="image">
    </div>

    <div class="col-md-7">
        <h1>The First Heading 
            <span class="text-body-secondary">Will Catch Your Eye</span>
        </h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br> euismod semper. Praesent commodo cursus magna, vel scelerisque nisl<br>
consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>